/*
Ref:
Thanks to:
http://www.jqueryscript.net/layout/Simple-jQuery-Plugin-To-Create-Pinterest-Style-Grid-Layout-Pinterest-Grid.html
*/


    
    *, *:before, *:after {
  box-sizing: border-box !important;
}

.articleVoyage {
  column-width: 30em!important;
}

.sectionVoyage {
  display: inline-block!;
  margin: 0.25rem;
  padding: 1rem;
  width: 100%;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.sectionVoyage:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -3px;
  }

/*  styles for background color, etc; not necessary for this thing to work  */
.bodyVoyage {
  padding: 1em;
  font-family: "Garamond", serif;
  line-height: 1.25;
  background-color: white;
  width: 100%!important;
}
.masonry-grid{
  margin: 95%;
}


.pVoyage {
  text-align: justify;
  margin: 1rem 0;
}

.imgVoyage {
  width: 100%;
  max-width: 100%;
  height: auto;
}