.sociaux{ 
	filter: grayscale(100%);
}
.sociaux:hover{
	filter: grayscale(10%);
}
footer {
            background-color: #9999ff!important;
        }

.nomPersonnel{
  text-align: center;
}
td p{
  text-align: left;

}
table {
  border-collapse: separate;
}

.sectionVoyage > h4 {
  margin: 30px 0 20px 0;
  letter-spacing: 0.5px;
  color: #366eaa !important;
}

td {
  padding: 20px;
}
@media screen and (max-width: 640px) {
  table,
  tbody,
  tr,
  td {
    display: block;
    width: auto!important;
    /* parceque tu as mis des style inline grrr */
  }
}

.imgPersonnel{
  display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.75;
}
.imgPersonnel:hover{
  opacity: 1;
}
.overlay h2{
color: White;
padding: 20px;
padding-left: 100px;

}

    *, *:before, *:after {
  box-sizing: border-box;
}

.articleVoyage {
  column-width: 20em;
  width:100%;
  padding: 15px;
  padding-top: 100px;
}

.sectionVoyage {
  display: inline-block;
  margin: 0.40rem 0.25rem 0.40rem 0.25rem;
  padding: 1rem;
  width: 100%;
  background: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;

  

  -webkit-transition: all 250ms ease-in-out;
-moz-transition: all 250ms ease-in-out;
-ms-transition: all 250ms ease-in-out;
-o-transition: all 250ms ease-in-out;
transition: all 250ms ease-in-out;
}
.sectionVoyage:hover {
  box-shadow: 1px 1px 10px rgba(40, 37, 55, 0.2);
  
  }

/*  styles for background color, etc; not necessary for this thing to work  */
.bodyVoyage {
  padding: 1em;
  font-family: "Garamond", serif;
  line-height: 1.25;
  background-color: white;
  width: 100%!important;
}

.pVoyage {
  text-align: justify;
  margin: 1rem 0;
}
.imgVoyage {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 14px;
}

.imgVoyage:hover {
  box-shadow : 1px 4px 20px 0px #0045ff30;

  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.masonryphoto{
	width: 100%;
}

.maps-wrapper iframe {
  width: 100%;
}
